@import "bootstrap";
@import "plugins/footable.core";
@import "plugins/footable.metro";
@import "libs/csspinner";

@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
	background: #fbfbfb;
	font-family: 'Roboto', sans-serif;
}

.header{
    background: url('../img/zwartevilt.png') repeat;
    color: #fff;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.header__title{
    margin:15px 0;
    font-size:24px;
}

#main{
    background:#fbfbfb;
}

#signup{
    .signup__title{
        margin: 4px 0 29px 0;
        font-size:14px;
    }

    .signup__submit{
        margin: 0 0 15px 0;
    }

    .signup__devices-list{
        @extend .well;
        margin:30px 0 0 0;
    }

    .device{
        margin: 5px 10px;
        border-bottom: 1px solid #ccc;
        ul{
            padding: 0;
        }
        li{
            list-style-type: none;
        }
    }
}

#signin{
    .signin__forgot{
        margin-bottom:15px;
    }
}

#myTabContent{
    min-height:600px;
}

.map__wrapper{
    display: block;
    margin: 20px 0;
}

.map-canvas{
	background: #E5E9EE;
	height: 300px;
	width: 100%;
	position: relative;
}

.nav{
    & > li.active a,
    & > li.active a:hover,
    & > li.active a:active,
    & > li.active a:focus {
        background: #fbfbfb;
        box-shadow: inset 0 3px 6px -3px #eee;
        font-weight: bold;
    }
}