<button class="btn btn-info btn-sm pull-right">Add Alert</button>

<table class="footable alerts__table">
  <thead>
    <tr>
      <th>Name</th>
      <th data-hide="phone,tablet">Reported</th>
      <th data-hide="phone,tablet">Address</th>
      <th data-hide="phone,tablet">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bob Builder</td>
      <td>02/18/2014 09:04:23 AM</td>
      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
      <td><button class="btn btn-info btn-sm" type="button">[view]</button><button class="btn btn-info btn-sm" type="button">[notify]</button></td>
    </tr>
    <tr>
      <td>Bridget Jones</td>
      <td>02/18/2014 09:04:23 AM</td>
      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
      <td><button class="btn btn-info btn-sm" type="button">[view]</button><button class="btn btn-info btn-sm" type="button">[notify]</button></td>
    </tr>
    <tr>
      <td>Tom Cruise</td>
      <td>02/18/2014 09:04:23 AM</td>
      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
      <td><button class="btn btn-info btn-sm" type="button">[view]</button><button class="btn btn-info btn-sm" type="button">[notify]</button></td>
    </tr>
  </tbody>
</table>