
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
<!--   <li class=""><a href="#locations" data-toggle="tab">Locations</a></li>
  <li class=""><a href="#alerts" data-toggle="tab">Alerts</a></li>
  <li class=""><a href="#devices" data-toggle="tab">Devices</a></li> -->
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="overview">

  </div>
 <!--  <div class="tab-pane fade" id="locations">

  </div>
  <div class="tab-pane fade" id="alerts">

  </div>
  <div class="tab-pane fade" id="devices">

  </div> -->
</div>