<div class="device">

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <ul>
                <li>Name: <%= obj.name %></li>
                <li>Serial: <%= obj.serial %></li>
                <li>Type: <%= obj.type %></li>
                <li>Color: <span style="background:<%= obj.color %>; color:#fff;"><%= obj.color %></span></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6">
            <button class="btn" type="button" id="device__edit">Edit</button>
            <button class="btn btn-warning" type="button" id="device__remove">Remove</button>
        </div>
    </div>

</div>
