<div id="signup">

    <div class="row">
        <div class="col-md-12">
            <p>Fill out the form to complete your profile and start tracking:</p>
        </div>

        <form action="" id="signup__form">
            <div class="col-md-12" id="<%= obj.id %>">
                <span>Are we tracking a person, or an asset?</span>
                <label class="radio-inline">
                    <input type="radio" id="inlineCheckbox1" name="select_person" value="person"> Person
                </label>
                <label class="radio-inline">
                    <input type="radio" id="inlineCheckbox2" name="select_person" value="device"> Device
                </label>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="device-form__name">Who/What are we tracking?</label>
                    <input type="text" class="form-control" id="device-form__name" placeholder="Please provide a name">
                </div>
                <div class="form-group">
                    <label for="device-form__serial">Enter the SN of the device:</label>
                    <input type="number" class="form-control" id="device-form__serial" placeholder="Please enter the serial number">
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <label for="color">Pick a color for this device:</label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="color" value="#ffffff" id="device-form__color">
                    </div>
                </div>
            </div>

            <div class="device-form__locations col-md-12">
                <div class="form-group">
                    <label for="device-form__location">Enter typical locations for <span class="device-form__placeholder"></span>:</label>
                    <input type="text" class="form-control" id="device-form__location" placeholder="Enter coords">
                    <p>Use some of this to test:</p>
                    <p>-31.392120, -64.185244</p>
                    <p>-31.392020, -64.187390</p>
                    <p>-31.391287, -64.184976</p>
                </div>

            </div>
        </form>

    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <button id="signup__add" type="button" class="btn btn-primary">Add More Devices</button>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="">Skip</a>
            <button class="btn" type="button" id="signup__continue">Continue</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="signup__devices-list">
            </div>
        </div>
    </div>

</div>