<button class="btn btn-info btn-sm pull-right">Add Device</button>

<table class="footable devices__table">
  <thead>
    <tr>
      <th>Name</th>
      <th data-hide="phone,tablet">Serial Number</th>
      <th data-hide="phone,tablet">Actions</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>