
<div class="row">
	<div class="col-md-3">
		
	</div>
	<div class="col-md-9 device-history__right">

		<table class="footable device-history__table">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th data-hide="phone,tablet">Reported</th>
		      <th data-hide="phone,tablet">Address</th>
		      <th data-hide="phone,tablet">Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Bob Builder</td>
		      <td>02/18/2014 09:04:23 AM</td>
		      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
		      <td><button class="btn btn-info btn-sm overview__btn-view" type="button">[view]</button><button class="btn btn-info btn-sm" type="button">[notify]</button></td>
		    </tr>
		    <tr>
		      <td>Bridget Jones</td>
		      <td>02/18/2014 09:04:23 AM</td>
		      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
		      <td><button class="btn btn-info btn-sm overview__btn-view" type="button">[view]</button><button class="btn btn-info btn-sm" type="button">[notify]</button></td>
		    </tr>
		    <tr>
		      <td>Tom Cruise</td>
		      <td>02/18/2014 09:04:23 AM</td>
		      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
		      <td><button class="btn btn-info btn-sm overview__btn-view" type="button">[view]</button><button class="btn btn-info btn-sm" type="button">[notify]</button></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>