
<div class="col-md-6">
  <h3>Current Locations</h3>
<table class="footable locations__table">
  <thead>
    <tr>
      <th>Name</th>
      <th data-hide="phone,tablet">Address</th>
      <th data-hide="phone,tablet">Typical For</th>
      <th data-hide="phone,tablet">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bob Builder</td>
      <td>02/18/2014 09:04:23 AM</td>
      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
      <td><button class="btn btn-info btn-sm" type="button">[edit]</button><button class="btn btn-info btn-sm" type="button">[delete]</button></td>
    </tr>
    <tr>
      <td>Bridget Jones</td>
      <td>02/18/2014 09:04:23 AM</td>
      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
      <td><button class="btn btn-info btn-sm" type="button">[edit]</button><button class="btn btn-info btn-sm" type="button">[delete]</button></td>
    </tr>
    <tr>
      <td>Tom Cruise</td>
      <td>02/18/2014 09:04:23 AM</td>
      <td><a href="">His School:</a> 123 Main St, Boston, MA 01121</td>
      <td><button class="btn btn-info btn-sm" type="button">[edit]</button><button class="btn btn-info btn-sm" type="button">[delete]</button></td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-md-6">
  <h3>Add Location</h3>
<form class="form-horizontal locations__form" role="form">
  <div class="form-group">
    <label for="locations__form__name" class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="locations__form__name" name="location[name]" placeholder="Enter a location name...">
    </div>
  </div>
  <div class="form-group">
    <label for="locations__form__address" class="col-sm-2 control-label">Address:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="locations__form__address" name="location[address]" placeholder="Enter an address...">
    </div>
  </div>
  <div class="form-group">
    <label for="locations__form__typical" class="col-sm-2 control-label">Typical for:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="locations__form__typical" name="location[typical]" placeholder="Enter Person/Device...">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a href="">Cancel</a>
      <button type="submit" class="btn btn-default locations__form__submit">Save</button>
    </div>
  </div>
</form>
</div>

