

<table class="footable overview__table">
  <thead>
    <tr>
      <th>Name</th>
      <th data-hide="phone,tablet">Reported</th>
      <th data-hide="phone,tablet">Address</th>
      <th data-hide="phone,tablet">Actions</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>