
  <div class="col-md-6 col-sm-6" id="signup">
    <div class="well well-lg">
    <h2 class="signup__title">Fill out the form to create a new account:</h2>
    <form class="row" role="form">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="signup__name">First Name</label>
              <input type="text" class="form-control" id="signup__name" name="fname" placeholder="First Name">
            </div>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="signup__last-name">Last Name</label>
              <input type="text" class="form-control" id="signup__last-name" name="lname" placeholder="Last Name">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="sr-only" for="signup__email">Email Address</label>
          <input type="email" class="form-control" id="signup__email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
          <label class="sr-only" for="signup__password">Password</label>
          <input type="password" class="form-control" id="signup__password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label class="sr-only" for="signup_password--repeat">Repeat Password</label>
          <input type="password" class="form-control" id="signup_password--repeat" name="password_repeat" placeholder="Repeat Password">
        </div>
        <button type="submit" class="btn btn-primary signup__submit">Sign Up</button>
        <p>By creating an account, I accept the Terms and Conditions and privacy statements.</p>
      </div>
    </form>
  </div>
  </div>