
<div class="col-md-6 col-sm-6" id="signin">
    <div class="well well-lg">
    <p>Welcome the Personal GPS Tracker, please log in with your e-mail and password:</p>
    <form action="">
      <div class="form-group">
        <label class="sr-only" for="signin__email">Email</label>
        <input type="email" class="form-control" id="signin__email" name="email" placeholder="E-mail">
      </div>
      <div class="form-group">
        <label class="sr-only" for="signin__password">Password</label>
        <input type="password" class="form-control" id="signin__password" name="password" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Keep me logged in
        </label>
      </div>
      <a href="" class="show signin__forgot">Forgot your password?</a>
      <button type="submit" class="btn btn-success signin__btn">Sign in</button>
    </form>
  </div>
</div>