
<td style="background: <%= obj.color %>;"><%= obj.name %></td>
<td style="background: <%= obj.color %>;"><%= obj.serial%></td>
<td style="background: <%= obj.color %>;"><%= obj.coords.x + '' + obj.coords.y %></td>
<td style="background: <%= obj.color %>;">
    <button class="btn btn-info btn-sm" type="button">[edit]</button>
    <button class="btn btn-info btn-sm" type="button">[notify]</button>
</td>